.funWords{
    color: blueviolet;
    font-size: 22px;
}
#randomPart{
    color: blueviolet;
    font-size: 32px;
}
.pic{
    width: 100%;
}
.top{
    background-color: orange;
      height: 33%;
      width: 100%;
}
.middle{
    background-color:white;
      height: 33%;
      width: 100%;
}
.bottom{
    background-color: green;
      height: 33%;
      width: 100%;
}