body{
    
}
.funWords{
    color: blueviolet;
    font-size: 22px;
}
#randomPart{
    color: blueviolet;
    font-size: 32px;
}
.pic{
    width: 100%;
}
.blue{
    background-color: rgb(45, 45, 161);
}
.ltBlue{
    background-color: rgb(142, 214, 238);
}