body{
    
}
.funWords{
    color: blueviolet;
    font-size: 22px;
}
#randomPart{
    color: blueviolet;
    font-size: 32px;
}
.pic{
    width: 100%;
    height: 53.83%;
}
.red{
    background-color: red;
}
.white{
    background-color: white;
}
.stripe{
    height: 7.69%;
    width: 100%;
}
.padding-0{
    padding: 0px;
}